*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.up{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
span{
    font-size: 80px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    z-index: 1;
}
.up::before{
    content: "";
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    width:20%;
    height: 95%;
    border-radius: 30px;
    mix-blend-mode: difference;
    animation: spin 4s infinite linear;
}
@keyframes spin{
    0%,100%{
        left: 0;
    }
    50%{
        left: 78%;
    }
}