*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: grid;
    place-content: center;
}
.spinner{
        width: 10rem;
        height: 10rem;
        border: 10px solid rgb(105, 17, 163, .2);
        border-top-color:rgb(105, 17, 163, .7);
        
        border-radius: 50%;
        animation: spin 1.5s  infinite linear ;
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}



/*
.spinner{
    width: 100px;
    height: 100px;
    border:10px solid rgb(105, 17, 163, .2);;
    border-top-color: rgb(105, 17, 163, .7);
    margin: 50% auto;
    border-radius:50%;
    animation-name: spin;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}
*/