*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #091021;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.one{
width: 270px;
height: 80px;
background-color: #091021;
}
input{
    width: 100%;
    height: 100%;
    background-color: #ce9f11;
    border-radius:55px;
    font-size: 30px;
    border: none;
    transition: .3s ease;
}

input:hover{
    
    transform: scale(1.1); 
    cursor: pointer;
    box-shadow:0 0 5px #ffc000,0 0 20px #ffc000, 0 0 60px #ffc000,0 0 150px #ffc000;
}

