.up{
    width: 200px;
    height: 200px;
    margin:100px auto;
    background-color: rgb(250, 124, 124);
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    width: 200px;
    height: 200px;
    margin:100px auto;
    background-color: rgb(255, 119, 119);
    border: 10px solid #DDD;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.two{
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    top: 110px;
}
.one{
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    top: 110px;
}
.box::before{
    content: "";
    width: 100%;
    height: 40%;
    border-left: 2px solid black;
    position: absolute;
    left:-25px;
    top: 0px;
}
.box::after{
    content: "";
    width: 100%;
    height: 40%;
    border-left: 2px solid black;
    position: absolute;
    left:-25px;
    bottom:0;
}
.two::before{
    content: "";
    width: 40%;
    height: 100%;
    border-bottom: 2px solid black;
    position: absolute;
    bottom:-25px;
    left: 3px; 
}
.two::after{
        content: "";
        width: 40%;
        height: 100%;
        border-bottom: 2px solid black;
        position: absolute;
        bottom:-25px;
        right: -15px; 
    }
.one::before{
    content: "Y-Axis";
    width: 100%;
    height: 40%;
    color: black;
    font-size: 10px;
    position: absolute;
    left:-149px;
    top: 145px;
    transform: rotate(90deg);
}
.one::after{
    content: "X-Axis";
    width: 40%;
    height: 100%;
    color: black;
    font-size: 11px;
    position: absolute;
    bottom: -217px;
    right: 29px; 
}

